* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f9f9f9;
  color: #333;
  margin-top: 70px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1258A3;
  color: #fff;
}

.addmission button {
  margin-left: 10px;
  padding: 10px 20px;
}

.all-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: rgb(125, 4, 123);
  color: white;
  flex-wrap: wrap;
}

.nav-logo {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.nav-logo img {
  border-radius: 50%;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #f1c40f;
}

/* Dropdown */
.opt {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  padding: 5px 25px 5px 10px;
  appearance: none;
  cursor: pointer;
  outline: none;
  position: relative;
}

/* Custom dropdown arrow */
.opt::after {
  content: "▼";
  font-size: 10px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.opt:hover {
  color: #f1c40f;
}

.opt option {
  background: #fff;
  color: #333;
}
.btn {
  background: transparent;
  color: #f9f9f9;
  padding: 10px 15px;
  border-radius: 25px;
  border: 2px solid white;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.btn:hover {
  background: #fff;
  color: #3498db;
}
.gallery-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.gallery-container img {
  border-radius: 10px;
  width: 350px;
  height: 250px;
  object-fit: cover;
  transition: 0.3s;
}

.gallery-container img:hover {
  transform: scale(1.05);
}

.allpic {
  padding: 10px;

}
.content-section {
  padding: 80px 60px;
  text-align: center;
}

.bg-light {
  background: #ecf0f1;
}
.gallery-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.gallery-container img {
  border-radius: 10px;
  width: 350px;
  height: 250px;
  object-fit: cover;
  transition: 0.3s;
}

.gallery-container img:hover {
  transform: scale(1.05);
}